<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">

    <!-- FONT AWESOME  -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap" rel="stylesheet">
    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Load SweetAlert2 from a CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/css/nav.css">

    <title>HCA</title>
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header">
        <nav class="nav container">
            <div class="nav__data">
                <a href="#" class="nav__logo">
                    <span class="logo"><img src="/images/logo.png" alt="logo"></span>HigherCareer
                </a>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line nav__toggle-menu"></i>
                    <i class="ri-close-line nav__toggle-close"></i>
                </div>
            </div>

            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li>
                        <a href="/" class="nav__link">Home</a>
                    </li>

                    <!--=============== DROPDOWN 1 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link dropdown__button">
                            Admission <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <div class="dropdown__container">
                            <div class="dropdown__content">
                                <div class="dropdown__group">
                                    <div class="dropdown__icon">
                                        <i class="ri-flashlight-line"></i>
                                    </div>

                                    <span class="dropdown__title">How to join</span>

                                    <ul class="dropdown__list">
                                        <li>
                                            <a href="/nursery-join" class="dropdown__link">Nursery Joining Instruction</a>
                                        </li>

                                        <li>
                                            <a href="/primary-join" class="dropdown__link">Primary Joining Instruction</a>
                                        </li>

                                    </ul>
                                </div>

                                <div class="dropdown__group">
                                    <div class="dropdown__icon">
                                        <i class="ri-coins-line"></i>
                                    </div>

                                    <span class="dropdown__title">Tuition and Fees</span>

                                    <ul class="dropdown__list">
                                        <li>
                                            <a href="/nursery-fees" class="dropdown__link">Nursery Tuition and fees</a>
                                        </li>

                                        <li>
                                            <a href="/primary-fees" class="dropdown__link">Primary Tuition and fees</a>
                                        </li>

                                    </ul>
                                </div>

                                <div class="dropdown__group">
                                    <div class="dropdown__icon">
                                        <i class="ri-newspaper-line"></i>

                                    </div>

                                    <span class="dropdown__title">News & Updates</span>

                                    <ul class="dropdown__list">
                                        <li>
                                            <a href="/news&announcements" class="dropdown__link">News & Announcements</a>
                                        </li>

                                    </ul>
                                </div>

                                <div class="dropdown__group">
                                    <div class="dropdown__icon">
                                        <i class="ri-flag-line"></i>

                                    </div>

                                    <span class="dropdown__title">Core Values</span>

                                    <ul class="dropdown__list">
                                        <li>
                                            <a href="/vision" class="dropdown__link">Our Mission and vision</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--=============== DROPDOWN 2 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link dropdown__button">
                            Quick Links <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <div class="dropdown__container">
                            <div class="dropdown__content">
                                <div class="dropdown__group">
                                    <div class="dropdown__icon">
                                        <i class="ri-account-circle-line"></i>

                                    </div>

                                    <span class="dropdown__title">Accounts</span>

                                    <ul class="dropdown__list">
                                        <li>
                                            <a href="/login" class="dropdown__link">Login</a>
                                        </li>

                                        <li>
                                            <a href="/parent-register" class="dropdown__link">Parent Registration form</a>
                                        </li>

                                        <li>
                                            <a href="/teacher-register" class="dropdown__link">Teacher Registration form</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="dropdown__group">
                                    <div class="dropdown__icon">
                                        <i class="ri-map-pin-line"></i>
                                    </div>

                                    <span class="dropdown__title">Location</span>

                                    <ul class="dropdown__list">
                                        <li>
                                            <a href="https://www.google.com/maps/dir/-6.852042,39.2894836/higher+career+academy+location/@-6.4816381,38.9349168,10z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x185d29c7bd114ef7:0xdca4e8d9e0fe08ad!2m2!1d39.3621196!2d-6.1357295?entry=ttu" 
                                            class="dropdown__link" 
                                            target="_blank"
                                            rel="noopener noreferrer">
                                                <span>Our location</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="/faq" class="nav__link">FAQs</a>
                    </li>

                    <!--=============== DROPDOWN 3 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link dropdown__button">
                            Support <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <div class="dropdown__container">
                            <div class="dropdown__content">
                                <div class="dropdown__group">
                                    <div class="dropdown__icon">
                                        <i class="ri-community-line"></i>
                                    </div>

                                    <span class="dropdown__title">About us</span>

                                    <ul class="dropdown__list">
                                        <li>
                                            <a href="/about-us" class="dropdown__link">About us</a>
                                        </li>

                                        <li>
                                            <a href="/contact-us" class="dropdown__link">Contact us</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="dropdown__group">
                                    <div class="dropdown__icon">
                                        <i class="ri-shield-line"></i>
                                    </div>

                                    <span class="dropdown__title">Safety and quality</span>

                                    <ul class="dropdown__list">
                                        <li>
                                            <a href="/terms" class="dropdown__link">Terms and Condition</a>
                                        </li>

                                        <li>
                                            <a href="/privacy-policy" class="dropdown__link">Privacy Policy</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="progress-bar"></div>

    </header>
    <div class="space"></div>

    <!--=============== MAIN JS ===============-->
    <script src="/js/nav.js"></script>
    <script type="module">
        import { fairyDustCursor } from "./js/lib/cursor.js";

        new fairyDustCursor();
    </script>
</body>

</html>