<!--Verify user Section-->
<%- include("../layout/verifyUser") %>

        <section id="teacherSection" class="content-wrapper" style="display:none;">
            <!-- Management Content -->
            <%- include("../layout/teachers") %>         
        </section>

        <section id="parentSection" class="content-wrapper" style="display:none;">
            <!-- Management Content -->
            <h1>Parent Content</h1>
        </section>

        
        <section id="teacherProfile" class="content-wrapper" style="display:none;">
            <!-- Teacher Profile -->
            <h1>Teacher Profile</h1>
            <%- include("../layout/teachDet") %>         
        </section>

        <section id="studentSection" class="content-wrapper" style="display:none;">
            <!-- Management Content -->
            <h1>Student Content</h1>
        </section>

        <section id="linkingSection" class="content-wrapper" style="display:none;">
            <!-- Linking Content -->
            <h1>Linking Content</h1>
        </section>
        <section id="communicationHistorySection" class="content-wrapper" style="display:none;">
            <!-- Communication History Content -->
            <h1>Communication History Content</h1>
        </section>
        <section id="teacherManagementSection" class="content-wrapper" style="display:none;">
            <!-- Teacher Management Content -->
            <h1>Teacher Management Content</h1>
        </section>
        <section id="attendanceSection" class="content-wrapper" style="display:none;">
            <!-- Attendance Content -->
            <h1>Attendance Content</h1>
        </section>
        <section id="communicationSection" class="content-wrapper" style="display:none;">
            <!-- Communication Content -->
            <h1>Communication Content</h1>
        </section>
        <section id="settingsSection" class="content-wrapper" style="display:none;">
            <!-- Settings Content -->
            <h1>Settings Content</h1>
        </section>