<section class="stats-section">
    <div class="stats-container">
        <div class="stats-grid">
            <div class="stat-card">
                <i class="fas fa-user-graduate"></i>
                <h3>1000+</h3>
                <p>Students</p>
            </div>
            <div class="stat-card">
                <i class="fas fa-chalkboard-teacher"></i>
                <h3>50+</h3>
                <p>Expert Teachers</p>
            </div>
        <!-- Religious Education -->
        <div class="stat-card">
            <i class="fa-solid fa-person-praying"></i>
            <h3>2</h3>
            <p>Religious Teachings</p>
        </div>

            <div class="stat-card">
                <i class="fas fa-trophy"></i>
                <h3>95%</h3>
                <p>Success Rate</p>
            </div>
        </div>
    </div>
</section>